body{
    background-color: #f5f5dc;
  }
  hr{

    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: red;
    border-width: 5px;
    width:20%;
  }
  img{
    width: 30%;
  }
  h1,h2,h3,h4,h5,h6{
    color: #66BFBF;
  }
